header {

    color: #254E70;
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-family: 'Roboto';
    color: #254E70;
  }
  
  p {
    font-family: sans-serif;
    color: #333;
  }
  
 
  img {
    max-width: 150px;
    display: block;
    
  }
  
