@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,footer,nav{
    background-color: #46a0eb;
    font-family: 'Roboto', sans-serif;
}

.navigation {
	background-color: #46a0eb; 
    display: flex;
	flex-direction: column;
	list-style: none;
} 

.navigation ul {
    list-style: none;
}

.navigation ul li a {
    color: black;
    display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
    border: 2px solid black;
    margin: 2px; 

}
.open ul li a {
	display: block;
}



header{
    display: flex;
    justify-content: center;
    align-items: center;

}


.navigation ul li a:active {
    background-color: #2eb386;
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
    top: 15px;
	right: 15px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

#hero_img{
    width:100%;
    height:450px;
}


#cards {
    display: flex;
    flex-direction: column;
}
.events_card, .weather_card, .spotlights_card {
    width: 100%;
    background-color: #f0f0f0; 
    padding: 20px; 
    box-sizing: border-box; 
    border-radius: 8px; 
    margin-bottom: 10px;
}

footer{
    display: flex;
    flex-direction: column;

}

footer > *{
    margin-right: 0px;
    margin-bottom: 5px;
}

#discover{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

#discover #side_bar{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#discover #content{
    grid-column: 2/3;

}
main .card{
    text-align: center;
    border: 2px solid #dadada;
    background-color: rgb(176, 230, 225);
    overflow: hidden;
    margin: 1rem 0;
    width: 90%; 

}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content img {
    margin: 20px; 
}