*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,footer,nav{
    background-color: #bbb;
    font-family: 'Roboto', sans-serif;
}
main {
	display: block;
 }
main .card{
    border: 2px solid #dadada;
    background-color: rgb(197, 221, 219);
    overflow: hidden;
    margin: 1rem 0;
}

main h2 ,h1{
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    padding: .5rem 0;
}
nav {
	background-color: #36454f;
	margin: 1px;
}


nav ul {
	list-style-type: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;

}
header img{
    width: 90px ;
    height: 90px;
}
header span{
    color: #000000;
    font-size: 30px;
 
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
    top: 15px;
	right: 15px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

.open a {
	display: block;
}

.active::before {
	content: "📍";  /* just a wayfinding symbol for the user */
}


#mode {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

.hero picture img{
    width:100%;
    height:auto;
}

.herolabel {
	position: absolute;
	top: 35%;
	left: 0;
	background: radial-gradient(#dfc324, #c0c2ca);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1rem;
	box-shadow: 0 0 3rem #628aac;
	opacity: 0.75;
}

.herolabel  p{
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1rem;
	font-family:"Great Vibes", serif;
	white-space: nowrap;
}
